body{
    --color-primary: #4A90E2;
    --color-primary-dark: #357ABD;
    --color-secondary: #50E3C2;
    --coler-error: #D0021B;
    --coler-success: #7ED321;
    --boder-radius: 4px;


    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: url();


}