body{  
    margin: 0;  
    font-family: Arial, sans-serif;
    background-color: black; 
}

.logo_container {
    padding: 10px;
    display: flex;
    margin-left: 150px;
}

.logo img {
    min-height: calc(100vh -150px);
    width: auto;
    display: flex;
    
}

.logo_text {
    color: white;
    font-size: 24px;
    margin-left: 10px;
    align-self: center;
    
}